<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #image-container {
            max-width: 100%;
            width: auto;
            height: auto;
            text-align: center;
        }
        
        #image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div id="image-container">
        <img id="image" src="{{ url_for('diffusion_feed_model') }}"  style="max-width:100%; height:auto;" alt="Streaming Image">
    </div>
</body>
</html>